<h1>Flats</h1>
<h3>Boas vindas ao sistema de locação de apartamentos</h3>

<% if @properties.empty? %>
  <h2><%= "Nenhum imóvel disponível" %></h2>
<% else %>
  <% @properties.each do |data| %>
    <h2><%= link_to(data.title, property_path(data.id)) %></h2>
    <h3><%= data.description %></h3>
    <h3><%= "Quartos: #{data.rooms}" %></h3>
  <% end %>
<% end %>
